body{
    background-color: gray;
}
nav{
    align-self: start;
    padding: 5px;
}
h1{
    padding: 5px;
}
#about-me{
    margin: 5px;
}

#main-carousel{
    width: 40%;
    
}

#card-group{
    width: 70%;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
}

#card-group img{
    height: 60%;
    width: 100%;
} 


#card-1, #card-2, #card-3{
    border-width: 3px;
    border-color: black;
    height: 600px;
    padding: 5px;
}
#card-1{
    background-color: rgba(97, 84, 94, 0.459);
}